{% extends "base.htm" %}
{% block title %}
About {% endblock title %}

{% block body %}
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x600/?dog" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background: black;border-radius: 25px;">
            <h5>Divyansh Barar</h5>
            <p>I created this website and my favourite tv show is Breaking bad.</p>
        </div>
    </div>
</div>

<a href="https://www.instagram.com/python_gate/" class="btn btn-primary" >VISIT</a>
    {% endblock body %}